{{!< layout}}

<section class="aui-connect-page aui-connect-page-focused" role="main">
    <section class="aui-connect-content">
        <div class="aui-connect-content-inner">
          <p>Are you sure you want to delete all retro notes?</p>
        </div>
    </section>
</section>
