{{!< layout}}

<section class="aui-connect-page aui-connect-page-focused" role="main">
    <section class="aui-connect-content">
        <form class="aui top-label">
           <div class="field-group">
              <label for="edit-note"></label>
              <textarea class="js-edit-note-input textarea" rows="6" cols="10" type="text" name="edit-note" id="edit-note"></textarea>
           </div>
        </form>
    </section>
</section>


